// Color system

$white:    #fff;
$gray-200: #f7f7f7;

$primary: #154C9F;
$secondary: hsl(216, 77%, 25%);


$body-color: rgb(51, 51, 51);
$enable-rounded: false;



$font-family-sans-serif: "Helvetica Neue", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-color: $primary;


$label-margin-bottom: 0;

