/* ==========================================================================
  Variables
========================================================================== */

$box-color: $gray-200;


/* ==========================================================================
  Base
========================================================================== */

body {
  font-size: 14px;
  line-height: 26px;

  min-height: 100%;
  font-stretch: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  word-break: break-all;
}

::placeholder {
  color: gray;
}

p { margin-bottom: 0; }

hr {
  border-top: 1px solid transparent;
}

/* ==========================================================================
  Headings
========================================================================== */

h1, .h1,
h3, .h3 {
    font-weight: 700;
}

h2, .h2 {
  font-size: 30px;
  font-weight: 300;
}

h3, .h3 {
  color: $body-color;
  font-weight: 300;
  font-size: 1rem * 1.25;
}

h4, .h4 {
  color: $body-color;
  font-size: 1rem * 1.25;
}

/* ==========================================================================
  Header
========================================================================== */

header {
  background-color: $primary;

  .logo {
    max-height: 49px;;
  }
}

/* ==========================================================================
  Custom
========================================================================== */

.box-container { background-color: $box-color; }

.participation { box-shadow: 0 0 0 0.2rem rgba(56, 103, 173, 0.5); }

/* ==========================================================================
  Custom <ul> converted to table
========================================================================== */

ul {
  margin-bottom: 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  display: block;
  padding: 10px 5px;
}

li:nth-child(odd) {
  width: 90%;
  margin-left: 5%;
  padding-bottom: 0;
}

li:nth-child(even) {
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid #999;
}

li:last-child{
  border-bottom: none;
}


/* ==========================================================================
  Buttons
========================================================================== */

.btn {
  color: $white;
  text-transform: uppercase;
  
  @include hover {
    color: $white;
  }

  &:active:focus {
    color: $white;
  }
}

.form-group {

  label {
    font-size: 1rem * .75;
  }
}

footer p {
  line-height: 1.25rem;
}

/* ==========================================================================
  Validation
========================================================================== */

form.ng-submitted input.ng-invalid,
form.ng-submitted select.ng-invalid {
  border-color: #f5c6cb;
  background-color: #f8d7da;
}

form.ng-submitted input[type="radio"].radioButton.ng-invalid+label:before,
form.ng-submitted input[type="checkbox"].checkbox-1.ng-invalid+label:before {
  border: 1px solid #f5c6cb;
  background: #f8d7da;
}

/* ==========================================================================
  SweetAlert
========================================================================== */

.swal-title {
  font-weight: 400;
  font-size: 18px;
  display: inline-block !important;
  word-break: break-all;
  word-wrap: break-word;
}

.swal-footer {
  text-align: center;
}

.swal-button {
  background-color: $primary;
  border-radius: 0;
  font-weight: 400;
  padding: 5px 36px;

  &:hover {
    background-color: $secondary !important;
  }
}

/* ==========================================================================
  Media Queries
========================================================================== */

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  li {
    display: inline-block;
    padding: 25px;
    border-bottom: 1px solid #999;
  }

  li:nth-child(odd) {
    width: 20%;
    margin-left: 10%;
    padding-bottom: 25px;
  }
  
  li:nth-child(even) {
    width: 60%;
    margin-left: 0;
  }

  li:last-child:not(:nth-child(odd))

  li:last-child,
  li:nth-last-child(2) {
    border-bottom: none;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  li:nth-child(odd) {
    width: 15%;
    margin-left: 10%;
    padding-bottom: 25px;
  }
  
  li:nth-child(even) {
    width: 65%;
    margin-left: 0;
  }
}

  




