

/*popup*/

body.opened-lightbox-impressum, body.opened-lightbox-privacy {
  overflow: hidden;
}
.opened-lightbox-impressum .impressum-lightbox, .opened-lightbox-privacy .privacy-lightbox {
  opacity: 1 !important;
  z-index: 9999;
}
.lightbox-wrapper {
  opacity: 0;
  transition: opacity 300ms;
  transition-delay: 40ms;
  position: fixed;
  background-color: rgba(0, 0, 0, .25);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  overflow: scroll;

  h1 {
    hyphens: auto;
  }
}

.lightbox-wrapper .lightbox-content {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 60px 15px 40px 15px;
  position: relative;
}
.lightbox-wrapper .lightbox-content h2 {
  font-size: 28px;
}

@media only screen and (min-width: 47.8125em) {
  .lightbox-wrapper .lightbox-content {
    margin-top: 50px;
    padding: 50px;
  }
  .lightbox-wrapper .lightbox-content h2 {
    font-size: 32px;
  }
}
.lightbox-wrapper .lightbox-content .lightbox-scroll {
  height: 100%;
  overflow-y: scroll;
}
.lightbox-wrapper.impressum-lightbox .lightbox-content {
  max-width: 600px;
}
.lightbox-wrapper .close-icon {
  position: absolute;
  right: 25px;
  top: 25px;
  display: block;
  cursor: pointer;
  padding: 20px;
}
.lightbox-wrapper .close-icon:before, .lightbox-wrapper .close-icon:after {
  border-top: 3px solid #00a3c6;
  bottom: 0;
  content: '';
  display: block;
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  width: 30px;
}

.lightbox-wrapper .close-icon:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lightbox-wrapper .close-icon:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
