@import '~angular-moment-picker/dist/angular-moment-picker.css';
@import 'custom-theme';
@import 'bootstrap';
@import 'custom';
// @import 'lightbox';

body.app-started {
  display: block !important;
  opacity: 1 !important;
}
