<div class="form-group col-md-6" ng-class="{'checkbox-wrapper': field.type === 'bool'}" ng-repeat="(key, field) in vm.state.fields">
  <label class="">{{field.label}}</label>

  <input type="text" class="form-control" ng-if="field.type === 'string' && !field.multiline"
    ng-model="vm.state.data[field.path]" ng-change="vm.updateDataValue(field.path);" ng-disabled="field.locked"
    ng-required="field.required" />
  <textarea class="form-control" ng-if="field.type === 'string' && field.multiline" ng-model="vm.state.data[field.path]"
    ng-change="vm.updateDataValue(field.path);" ng-disabled="field.locked" ng-required="field.required"></textarea>

  <input type="number" class="form-control" step="0.01" ng-if="field.type === 'float'"
    ng-model="vm.state.data[field.path]" ng-change="vm.updateDataValue(field.path);" ng-disabled="field.locked"
    ng-required="field.required" />

  <input type="number" class="form-control" step="1"
    ng-if="field.type === 'integer' && field.path !== 'rsvp.pax_planned'" ng-model="vm.state.data[field.path]"
    ng-change="vm.updateDataValue(field.path);" ng-disabled="field.locked" ng-required="field.required" />

  <input type="number" class="form-control" step="1"
    ng-if="field.type === 'integer' && field.path === 'rsvp.pax_planned'" ng-model="vm.state.data[field.path]"
    max="{{field.max}}" ng-change="vm.updateDataValue(field.path);" ng-disabled="field.locked"
    ng-required="field.required" />
  <div ng-if="field.type === 'select'" class="select-field">
    <select class="form-control" ng-model="vm.state.data[field.path]"
      ng-change="vm.updateDataValue(field.path);" ng-options="value as label for (value, label) in field.enum"
      ng-disabled="field.locked" ng-required="field.required">
      <option value="" ng-if="!field.required || !vm.state.data[field.path]">--- Bitte wählen ---</option>
    </select>
  </div>
  <label ng-if="field.type === 'bool'" class="checkbox-field">
    <input type="checkbox" ng-if="field.type === 'bool'" ng-model="vm.state.data[field.path]"
           ng-change="vm.updateDataValue(field.path);" ng-disabled="field.locked" ng-required="field.required">
    <span class="checkmark"></span>
  </label>
  <!--<div ng-if="field.type === 'bool'">-->
    <!--<select class="form-control" ng-if="field.type === 'bool'" ng-model="vm.state.data[field.path]"-->
      <!--ng-change="vm.updateDataValue(field.path);" ng-disabled="field.locked" ng-required="field.required">-->
      <!--<option value="" ng-if="!field.required || !vm.lodash.isBoolean(vm.state.data[field.path])">-&#45;&#45; Bitte wählen-->
        <!-- -&#45;&#45;-->
      <!--</option>-->
      <!--<option ng-value="false">Ja</option>-->
      <!--<option ng-value="true">Nein</option>-->
    <!--</select>-->
  <!--</div>-->

  <div class="input-group" moment-picker="vm.state.data[field.path]" ng-if="field.type === 'date'" format="DD.MM.YYYY"
    change="vm.updateDataValue(field.path, newValue, oldValue);" locale="de">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
    <input class="form-control" placeholder="Datum auswählen" ng-model="vm.state.data[field.path]"
      ng-required="field.required" ng-disabled="field.locked" ng-model-options="{ updateOn: 'blur' }">
  </div>

  <div class="input-group" moment-picker="vm.state.data[field.path]" ng-if="field.type === 'datetime'"
    format="DD.MM.YYYY HH:mm" change="vm.updateDataValue(field.path, newValue, oldValue);" locale="de">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="fa fa-clock"></i>
      </div>
    </div>
    <input class="form-control" placeholder="Zeit auswählen" ng-model="vm.state.data[field.path]"
      ng-disabled="field.locked" ng-required="field.required" ng-model-options="{ updateOn: 'blur' }">
  </div>

</div>
