<!DOCTYPE html>
<html lang="de" ng-app="al-landingpage" ng-strict-di ng-controller="RegistrationController as vm">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title ng-bind="vm.pageTitle"></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body style="display: none; opacity: 0;"
  ng-class="{'app-started': vm.started, 'opened-lightbox-privacy':vm.lightbox==1}">

  <header>
    <div class="container">

      <div class="row">
        <!-- START: LOGO -->
        <div class="col-12 mt-3 mb-3 text-center text-sm-left" ng-if="vm.state.layout.headerImage">
          <img ng-src="{{ vm.state.eventInformation.image_2.url }}" class="logo" alt="Logo">
        </div>
      </div>

    </div>
  </header>

  <div class="container">

    <!-- START: HEADER IMAGE -->
    <div class="row">
      <div class="col">
        <img ng-src="{{ vm.state.eventInformation.image_1.url }}" alt="Header Image" class="img-fluid mt-2">
      </div>
    </div>

    <!-- START: LOGIN (Alert messages) -->
    <div ng-if="vm.state.currentView === 'start'" class="mb-5">
      <div class="row">
        <div class="col-12">
          <div ng-if="!vm.state.error.active && !vm.state.eventInformation.registration_started"
            class="alert alert-warning">
            Die Anmeldung hat nocht nicht begonnen.
          </div>
          <div ng-if="!vm.state.error.active && vm.state.eventInformation.registration_closed"
            class="alert alert-warning" ng-bind-html="vm.state.layout.closingText">
          </div>
        </div>
      </div>

      <!-- START: LOGIN -->
      <div class="row" ng-if="!vm.state.success.active && 
                                !vm.state.error.active && 
                                vm.state.eventInformation.registration_started && 
                                !vm.state.eventInformation.registration_closed">

        <div class="col-12 mt-5 mb-5 text-center" ng-bind-html="vm.state.eventInformation.settings.lp_text_2"></div>

        <!-- START: OPEN REGISTRATION -->
        <div class="col-12 px-3 mb-4" ng-if="vm.state.eventInformation.settings.enable_open_registration && 
                (vm.state.eventInformation.registration_started && !vm.state.eventInformation.registration_closed)">

          <div class="form-group" ng-if="vm.state.eventInformation.password_protected">
            <label>Passwort</label>
            <input type="text" class="form-control" ng-model="vm.state.openPassword" />
          </div>

          <div class="col-12 box-container">
            <div class="row justify-content-center">
              <div class="col-12 text-center my-5">
                <button class="btn btn-primary" ng-click="vm.startOpenRegistration()">{{ vm.state.eventInformation.custom_4 }}</button>
              </div>
            </div>
          </div>
          

        </div>

        <!-- START: CODE REGISTRATION -->
        <div class="col-12" ng-if="vm.state.eventInformation.settings.enable_code_registration">

          <div class="col-12 alert alert-danger" ng-if="vm.state.codeError.active" ng-bind="vm.state.codeError.message">
          </div>

          <div class="col-12 box-container">
            <div class="row justify-content-center">
              <div class="col-8 col-md-4 mt-4 mb-2 my-md-5">
                <input type="text" ng-model="vm.state.rsvpCode" class="form-control" placeholder="CODE" ng-enter>
              </div>

              <div class="col-8 col-md-4 mt-2 mb-4 my-md-5">
                <button ng-click="vm.startCodeRegistration()" class="btn btn-primary btn-block">{{ vm.state.eventInformation.custom_3 }}</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- START: PARTICIPATION -->
    <div ng-if="vm.state.currentView === 'response_type' || vm.state.currentView === 'form'">
      <div class="row mt-4">
        <div class="col-12 my-3" ng-bind-html="vm.state.eventInformation.settings.lp_text_1"></div>
      </div>

      <div class="row justify-content-center box-container mr-0 ml-0">
        <div class="col-8 col-lg-4 text-center mt-4 mb-2 my-lg-5">
          <button type="button" class="btn btn-primary btn-block" ng-click="vm.setResponseType('confirm')" ng-class="{ participation: vm.state.responseType == 'confirm' }">{{ vm.state.eventInformation.custom_5 }}</button>
        </div>
        <div class="col-8 col-lg-4 text-center mt-2 mb-4 my-lg-5">
          <button type="button" class="btn btn-primary btn-block" ng-click="vm.setResponseType('cancel')" ng-class="{ participation: vm.state.responseType == 'cancel' }">{{ vm.state.eventInformation.custom_6 }}</button>
        </div>
      </div>
    </div>

    <!-- START: FORM -->
    <div ng-if="vm.state.currentView === 'form'">

      <div class="row mt-4" ng-if="vm.state.responseType !== null">
        <div class="col-12" ng-bind-html="vm.state.eventInformation.settings.lp_text_3"></div>
      </div>
      
      <form name="registrationForm" ng-submit="vm.submitData(registrationForm)" class="text-left mt-3" novalidate>

        <form-fields form-data="vm.state.modelData" form-config="vm.state.eventInformation.fields"
          on-data-change="vm.handleStateDataUpdate('modelData', data)" ng-if="vm.state.responseType !== null"
          class="row"></form-fields>

        <hr ng-if="vm.state.enableGuests && vm.state.maxGuestCount !== -1">

        <booking-guests guest-fields="vm.state.eventInformation.guest_fields" max-guest-count="vm.state.maxGuestCount"
          min-guest-count="vm.state.minGuestCount" guests-data="vm.state.guestsData"
          on-data-change="vm.handleStateDataUpdate('guestsData', data)"
          ng-if="vm.state.enableGuests && vm.state.maxGuestCount !== -1"></booking-guests>

        <hr ng-if="vm.state.enableRecommendations">

        <booking-recommendations event-information="vm.state.eventInformation"
          recommendations-data="vm.state.recommendationsData"
          on-data-change="vm.handleStateDataUpdate('recommendationsData', data)" ng-if="vm.state.enableRecommendations">
        </booking-recommendations>

        <p class="alert alert-warning" ng-if="vm.state.waitlistEnabled && vm.state.bookingGoesToWaitlist">
          <span ng-if="vm.state.enableGuests && vm.state.guestsData.length > 0"><strong>Info: </strong>Aufgrund ihrer
            aktuellen Anzahl an Gästen wird ihre komplett Buchung auf die Warteliste gesetzt. Entfernen Sie Gäste um
            möglicherweise eine Direktbuchung durchführen zu können.</span>
          <span ng-if="!vm.state.enableGuests || vm.state.guestsData.length === 0"><strong>Info: </strong>Diese
            Veranstaltung ist bereits überbucht. Ihre Buchung wird auf die Warteliste gesetzt.</span>
        </p>

        <!-- <div ng-if="vm.state.error.active" class="row">
          <div class="col-12">
            <div class="alert alert-danger" ng-bind="vm.state.error.message"></div>
          </div>
        </div> -->

        <hr>

        <div class="row">
          <div class="col-12" ng-bind-html="vm.state.eventInformation.custom_8"></div>
        </div>

        <hr>

        <div class="row justify-content-center box-container mr-0 ml-0">
          <div class="col-8 col-lg-4 text-center my-4 my-lg-5">
            <button class="btn btn-primary btn-block" type="submit" ng-disabled="vm.state.submitInProgress">{{ vm.state.eventInformation.custom_7 }}</button>
          </div>
        </div>
      </form>
    </div>

    <!-- START: MESSAGE -->
    <div ng-if="vm.state.currentView === 'done'" class="my-5">
      <div class="row">
        <div class="col" ng-bind-html="vm.state.eventInformation.settings.lp_text_4"
          ng-if="vm.state.responseType === 'confirm'"></div>
        <div class="col" ng-bind-html="vm.state.eventInformation.settings.lp_text_5"
          ng-if="vm.state.responseType === 'cancel'"></div>
      </div>
    </div>


    <!-- START: FOOTER -->
    <footer>
      <hr>
      <div class="row mb-3 mb-md-2">
        <div class="col-12 col-md-6 text-center text-md-left mb-2"><small ng-bind-html="vm.state.eventInformation.custom_1"></small></div>
        <div class="col-12 col-md-6 text-center text-md-right"><small ng-bind-html="vm.state.eventInformation.custom_2"></small></div>
      </div>
    </footer>
  </div>

</body>

</html>