<!--<hr>-->
<h2 class="mt-5">Empfehlungen
    <span ng-if="vm.state.eventInformation.settings.recommendation_count_maximum !== 0 || vm.state.eventInformation.settings.recommendation_count_minimum !== 0">
    (<span ng-if="vm.state.eventInformation.settings.recommendation_count_minimum">min. {{vm.state.eventInformation.settings.recommendation_count_minimum}}</span><span
            ng-if="vm.state.eventInformation.settings.recommendation_count_maximum !== 0 && vm.state.eventInformation.settings.recommendation_count_minimum !== 0">, </span><span
            ng-if="vm.state.eventInformation.settings.recommendation_count_maximum">max. {{vm.state.eventInformation.settings.recommendation_count_maximum}}</span>)
    </span>
</h2>

<div class="recommendations-container">
    <div ng-repeat="recommendation in vm.state.recommendationData" class="recommendation-container mb-3 mt-3">
        <div class="recommendation-head"></div>

        <div class="mt-4">
            <form-fields form-data="recommendation"
                         form-config="vm.state.eventInformation.recommendation_fields"
                         on-data-change="vm.handleRecommendationDataUpdate($index, data)" class="row"></form-fields>
        </div>
        <button class="btn btn-simple pl-0 pl-md-2 btn-xs d-block d-md-inline-block"
                ng-if="!recommendation.rsvp.code"
                type="button" title="Empfehlung entfernen" ng-click="vm.removeRecommendation($index)"><i
                class="fa fa-trash-alt"></i>
            Empfehlung entfernen
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <button class="btn btn-primary btn-block"
                ng-click="vm.addRecommendation()"
                type="button"
                ng-disabled="vm.state.eventInformation.settings.recommendation_count_maximum !== 0 && vm.state.eventInformation.settings.recommendation_count_maximum <= vm.state.recommendationData.length">
            Empfehlung hinzufügen
        </button>
    </div>
</div>
