<h2>Begleitperson
    <!-- <span ng-if="vm.state.minGuestCount !== 0 || vm.state.maxGuestCount !== 0">
    (<span ng-if="vm.state.minGuestCount">min. {{vm.state.minGuestCount}}</span><span
            ng-if="vm.state.minGuestCount !== 0 && vm.state.maxGuestCount !== 0">, </span><span
            ng-if="vm.state.maxGuestCount">max. {{vm.state.maxGuestCount}}</span>)
    </span> -->
</h2>

<div class="guests-container">
    <div ng-repeat="guest in vm.state.guestData" class="guest-container mb-3 mt-3">
        <div class="guest-head"></div>
        <div class="my-4">
            <form-fields form-data="guest"
                         form-config="vm.state.guestFields"
                         on-data-change="vm.handleGuestDataUpdate($index, data)" class="row"></form-fields>
        </div>

        <!-- <button class="btn btn-primary pl-0 pl-md-2 btn-xs d-block d-md-inline-block" type="button"
                title="Gast entfernen" ng-click="vm.removeGuest($index)"><i
                class="fa fa-trash-alt"></i>
            Gast entfernen
        </button> -->

        <div class="row justify-content-center box-container mr-0 ml-0">
            <div class="col-8 col-lg-4 text-center my-4 my-lg-5">
                <button class="btn btn-primary btn-block"
                        ng-click="vm.removeGuest($index)"
                        type="button">
                        <i class="fa fa-trash-alt"></i> BEGLEITUNG ENTFERNEN
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center box-container mr-0 ml-0" ng-hide="vm.state.maxGuestCount !== 0 && vm.state.maxGuestCount <= vm.state.guestData.length">
    <div class="col-8 col-lg-4 text-center my-4 my-lg-5">
        <button class="btn btn-primary btn-block"
                ng-click="vm.addGuest()"
                type="button">
                BEGLEITUNG HINZUFÜGEN
        </button>
    </div>
</div>
